<div class="main-95">
  <div class="cabecera-div">
    <h1 class="cabecera-h1">Stations</h1>
  </div>
  
  <div class="column">
    <mat-table #sortTable="matSort" [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="no_position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No position</th>
        <td mat-cell *matCellDef="let element">{{element.no_position}}</td>
      </ng-container>

      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order</th>
        <td mat-cell *matCellDef="let element">{{element.order}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <button mat-menu-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="menu-without-scroll">
            <button mat-menu-item (click)="edit(element)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="delete(element)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </mat-table>
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="left-spacer"></span>
        <button mat-menu-button (click)="new()" class="add-button" matTooltip="Create a new station"
          matTooltipPosition="right">
          <mat-icon class="add">add_circle_outline</mat-icon>
        </button>
        <span class="spacer"></span>
        <mat-paginator #paginatorTable [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>

      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
